<div *ngIf="isVoting" class="container">

    <div *ngIf="leftPlace" [ngStyle]="{'background-image': 'url(' + leftPlace.place.photo_url + ')'}" class="box">
        <button (click)="left()" class="vote-button">{{leftPlace.place.name}}</button>
    </div>

    <div *ngIf="rightPlace" [ngStyle]="{'background-image': 'url(' + rightPlace.place.photo_url + ')'}" class="box">
        <button (click)="right()" class="vote-button">{{rightPlace.place.name}}</button>

    </div>
</div>

<div *ngIf="isSending" style="margin-top: 50px;">

    Qual seu nome, amigo?
    <input [(ngModel)]="name" placeholder="name" />
    <button (click)="send()">Ok</button>
</div>

<div *ngIf="finished" style="margin-top: 50px;">
    Aguarde....
</div>

<div *ngIf="ranking" style="margin-top: 50px;">
<table>
<thead>
<th>Name</th>
<!-- <th>Photo</th> -->
<th>Score</th>
</thead>
<tbody>
<tr *ngFor="let place of ranking.personal" >
<td>{{place.name}}</td>
<!-- <td>{{place.photo_url}}</td> -->
<td>{{place.score}}</td>
</tr>
</tbody>
</table>

<table>
<thead>
<th>Name</th>
<!-- <th>Photo</th> -->
<th>Score</th>
</thead>
<tbody>
<tr *ngFor="let place of ranking.global" >
<td>{{place.name}}</td>
<!-- <td>{{place.photo_url}}</td> -->
<td>{{place.score}}</td>
</tr>
</tbody>
</table>

</div>