

<div *ngIf="isVoting" class="container">

    <div *ngIf="leftPlace" [ngStyle]="{'background-image': 'url(' + leftPlace.place.photo_url + ')'}" class="box choice-div solid-box">
        <button (click)="left()" class="vote-button">{{leftPlace.place.name}}</button>
    </div>

    <div *ngIf="rightPlace" [ngStyle]="{'background-image': 'url(' + rightPlace.place.photo_url + ')'}" class="box choice-div solid-box">
        <button (click)="right()" class="vote-button">{{rightPlace.place.name}}</button>
    </div>
</div>

<div *ngIf="isSending" style="margin-top: 50px;">

    Quem é você, amigo?
    <input [(ngModel)]="person.name" placeholder="name" />
    <input [(ngModel)]="person.email" placeholder="email" />
    <button (click)="send()">Ok</button>
</div>

<div *ngIf="finished" style="margin-top: 50px;">
    Aguarde....
</div>




<div *ngIf="ranking" class="container">
    <div class="box">

        <table>
            <caption>Ranking Pessoal</caption>
            <thead>
                <th>Name</th>
                <th>Score</th>
            </thead>
            <tbody>
                <tr *ngFor="let place of ranking.personal" >
                    <td>{{place.name}}</td>
                    <td>
                        <rating [(ngModel)]="place.score"
                                disabled=false>
                        </rating>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="box">

        <table>
            <caption>Ranking Geral</caption>
            <thead>
                <th>Name</th>
                <th>Score</th>
            </thead>
            <tbody>
                <tr *ngFor="let place of ranking.global" >
                    <td>{{place.name}}</td>
                    <td>
                        <rating [(ngModel)]="place.score"
                                disabled=false>
                        </rating>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
